<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


 <h1>Angular Services Lab</h1>


 <nav>
   <ul>
     <li><a routerLink="/zero">Home Page</a></li>
     <li><a routerLink="/one">Killah Component</a></li> 
     <li><a routerLink="/two">Wutang Component</a></li>
   </ul>
 </nav>
 <br>
 <br>

 <div>
   
  {{person}}
    
 </div>




<router-outlet></router-outlet>